.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box-1 box-1 box-4"
    "box-2 box-2 box-4"
    "box-3 box-3 box-3";
  gap: 20px;
}

@media (max-width: 64rem) {
  .grid-container {
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-2"
      "box-3 box-3"
      "box-4 box-4";
  }
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
